{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "prettier",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended"
    // "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8
  },
  // "resolve": {
  //   "extensions": [".js", ".jsx", ".ts", ".tsx"]
  // },
  // "requireConfigFile": false,
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },

  "rules": {
    "react/react-in-jsx-scope": 0,
    "@typescript-eslint/ban-ts-comment": "off",
    // "@typescript-eslint/rule-name": "error",
    "react-hooks/rules-of-hooks": "error",
    "@typescript-eslint/object-curly-spacing": "off",
    "no-console": 0,
    "react/state-in-constructor": 0,
    "indent": 0,
    "linebreak-style": 0,
    "react/prop-types": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100,
        "tabWidth": 2,
        "semi": true,
        "endOfLine": "auto"
      }
    ]
  },
  "plugins": ["prettier", "react", "react-hooks", "@typescript-eslint"]
}
