@use 'variables' as *;
@use 'mixin' as *;

.login {
  height: 100%;
  width: 100%;
  @include flex(center, center);
  .login-box {
    // height: 480px;
    width: 380px;
    background: $body-bg;
    border-radius: 15px;
    padding: 60px;
    box-shadow: 0px 2px 6px 0px rgba(231, 227, 227, 0.336);

    .tab-menus {
      @include flex(center, space-between);
      span {
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;

        &.active {
          border-bottom: 1px solid $hover-color;
          color: $txt-color-active;
        }
      }
    }

    .input-group {
      margin-top: 40px;

      .input-field {
        width: 100%;
        padding: 10px 0;
        margin: 6px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid $txt-color;
        outline: none;
        background: transparent;
        color: $txt-color;
        font-size: 14px;
      }

      .checkbox {
        margin-top: 15px;
        margin-bottom: 30px;
      }

      .submit-btn {
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: auto;
        background-color: $hover-color;
        color: $white;
        border: 0;
        outline: none;
        border-radius: 15px;
        font-size: 16px;
      }
    }

    .forgot-password {
      margin-top: 20px;

      span {
        // padding-bottom: 2px;
        border-bottom: 1px solid $hover-color;
        color: $txt-color-active;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
